@media screen and (max-width: 1024px) {
    /*******global********/
    body {
        margin: auto;
    }
    header,
    #activites {
        margin-left: 10px;
    }
    #conteneur{
        margin-left: 0px;
        margin-right: 0px;
    }
    /*****logo********/
    #logo {
        margin-top: 0px;
        object-fit:contain;
        width: 80px;
    }
    /****barre de naviguation****/
    .nav {
        flex-wrap: wrap-reverse;
        margin-top: 50px;
        margin-left: 0px;
        padding: 0px;
    }
    .trait{
        color:black;
    }
    .trait:hover {
        border-top: none;
    }
    .nav li {
        list-style: none;
        font-size: 1em;
        list-style-type: none;
    }
    .nav a {
        text-decoration: none;
    }
    nav .w50 {
        border-bottom: 3px solid #f1eeee;

    }
    nav .w50:hover {
        border-bottom-color: #0065fc;
        padding-top: 0rem;
    }
    li {margin: 0px;
        margin-bottom: 20px;
    }
    .w50{
        margin-top: 20px;
        width: 50%;
        text-align: center;
        padding-bottom: 10px;
    }
    .inscription{
        color:#0065FC;
    }
    .gras {
        border-bottom: none;
        margin-bottom: 20px;
        margin-top: -30px;
        margin-left: 250px;
    }
    /*****h1 , h2 *******/
    h1 {
        width: 100%;
        font-size: 1.4em;
        margin-top: -40px;
    }
    h2 {
        margin-left: auto;
        width: 100%;
        font-size: 1.1rem;
    }
    .poptitre{
        margin-left: 30px;
    }
    .populaire{
        font-size: 1.2rem;
        margin-top: 0px;
    }
    span{
        font-family: "raleway";
        margin-top: 10px;
        font-size: 1rem;
    }
    .h4heberge{
        font-size: 1rem;
        margin-top: 10px;
    }
    .h5heberge{
        margin-top: 10px;
    }
    .affiche {
        margin-left: 15px;
        margin-bottom: 50px;
        margin-top: 10px;
    }
    
    /***formulaire de recherche*****/
    form {
        margin-left: auto;
        width: 100%;
    }
    p {
        display: inline-block;
    }
    .barre {
        width: 185px;
    }
    .myButton {
        box-shadow: 0px 0px 0px 2px #0065FC;
        background-color: #0065FC;
        border-radius: 0px 10px 10px 0px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-size: 0px;
        margin-right: -25px;
        padding: 29px 25px 20px;
    }
    .fa-search {
        position:relative;
        font-size: 1em;
        color: white;
        font-size: 1.1rem;
        margin-left: -15px;
    }
    /******filtres**********/
    .filtre {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    #nav2 li {
        display: inline-block;
        font-size: 0.5em;
        padding-left: 15px;
        padding-right: 15px;
    }
    .eco1 {
        padding: initial;
    }
    .eco {
        margin-right: 10px;
        padding: 15px;
    }
    #nav2 {
        margin: 0;
        margin-left: -5%;
        font-weight: bold;
        width: 95%;
    }
    #nav2 a {
        display: inline-block;
        color: #010307;
        text-decoration: none;
    }
    .button {
        text-align: center;
    }
    .Button:hover {
        background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        background-color: #476e9e86;
        box-shadow: 0px 0px 0px 2px #0065FC;
        border-radius: 0px 10px 10px 0px;
    }
    /*****bordure global des filtres*****/
    .eco {
        box-shadow: 0px 0px 0px 2px #F2F2F2;
        border-radius: 25px 25px 25px 25px;
        padding: 2px 0px;
    }
    /******icones des fitres*******/
    .fa-money-bill-wave {
        box-shadow: 0px 0px 0px 2px #DEEBFF;
        border-radius: 50px 50px;
        background-color: #DEEBFF;
        padding: 10px 10px;
        color: #0065FC;
        margin-left: -20px;
    }
    .fa-child {
        box-shadow: 0px 0px 0px 2px #DEEBFF;
        border-radius: 50px 50px;
        background-color: #DEEBFF;
        padding: 10px 10px;
        color: #0065FC;
        margin-left: -20px;
    }
    .fa-heart {
        box-shadow: 0px 0px 0px 2px #DEEBFF;
        border-radius: 50px 50px;
        background-color: #DEEBFF;
        padding: 10px 10px;
        color: #0065FC;
        margin-left: -20px;
    }
    .fa-dog {
        box-shadow: 0px 0px 0px 2px #DEEBFF;
        border-radius: 50px 50px;
        background-color: #DEEBFF;
        padding: 10px 10px;
        color: #0065FC;
        margin-left: -20px;
    }
    /*****point info + texte********/
    .fa-info {
        margin-top: 5px;
    }
    .logement {
        margin-left: 35px;
        margin-top:-25px;
        margin-bottom: 40px;
        font-family: 'raleway Bold';
        font-size: 1.2rem;
        width:98%
    }
    /*******conteneur bloc hebergement + populaire********/
    #conteneur {
        flex-direction: column-reverse;
        justify-content: space-around;
        height: auto;
    }
    /************section populaire*************/
    .populaire_title{
        margin-top: 20px;
        margin-bottom: -20px;
    }
    
    .populaire1 {
        border-radius: 0px 0px 0px 0px;
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .articlepop{
        width: 93%;
    }
    .hotel_details{
        justify-content: space-between;
        padding:0px 0px 0px 0px;
        margin-left: 10px;
    }
    .stars{
        padding-top: 0px;
    }
    .fa-chart-line {
        padding-top: 0px;
        padding-right: 15px;
    }
    .stars{
        margin-left: 10px;
        margin-bottom: 2px;
        font-size: x-large;
    }
    /***********section hebergement**********/
    .hebergement {
        background-color: white;
        border: none;
        min-width: 100%;
        height: auto;
        margin-top: 5px;
        margin-bottom: -100px;
    }
    .range1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 100%;
        margin: 0px
    }
    #h3hebergement {
        margin-left: 5%;
    }
    .art {
        border-radius: 20px 20px 20px 20px;
        box-shadow: 3px 5px 3px #F2F2F2;
        min-width: 95%;
        height:210px;
    }
    .img1 {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        margin-left: 15px;
    }
    
    .starsa{
        margin-top: 5px;
        font-size: x-large;
    }
    /******section activité*************/
    .activites {
        display: flex;
        flex-direction: column;
        min-width: 95%;
        height: auto;
        margin-top: 20px;
    }
    .act1 {
        box-shadow: 3px 5px 3px #F2F2F2;
        width: 95%;
        min-width: 95%;
        height: 210px;
        margin-bottom: 20px;
    }
    .act1a {
        box-shadow: 3px 5px 3px #F2F2F2;
        min-width: 95%;
        height: 210px;
        margin-bottom: 20px;
    }
    .act2a {
        box-shadow: 3px 5px 3px #F2F2F2;
        min-width: 95%;
        height: 210px;
        margin-bottom: 20px;
    }
    .act2b {
        box-shadow: 3px 5px 3px #F2F2F2;
        min-width: 95%;
        height: 210px;
        margin-bottom: 20px;
    }
    .act2c {
        box-shadow: 3px 5px 3px #F2F2F2;
        min-width: 95%;
        height: 210px;
        margin-bottom: 20px;
    }
    .act2d {
        box-shadow: 3px 5px 3px #F2F2F2;
        min-width: 95%;
        height: 210px;
        margin-bottom: 20px;
    }
    .img3 {
        border-radius: 20px 20px 0px 0px;
        height: 160px;
        width: 100%;
        object-fit: cover;
    }
    .img4 {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
    .img5 {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
    .img6 {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
    #h3activite {
        margin-left: 15px;
    }
    /*******footer**********/
    #pieds {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        padding:0px;
    }
    .lireso{
        margin:5px;
    }
    ul{
        padding:0px;
        margin-top: 40px;
        margin-left: 15px;
        list-style-type: none;
    }
   
    .assistance {
        width: 100%;
        margin-right: 0px;
    }
}