@font-face {
    font-family: "raleway";
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: "ralewayB";
    src: url('fonts/Raleway-ExtraBold.ttf');
}


/*********global*************/

body {
    margin: auto;
    max-width:1640px;
}

header,
#conteneur {
    margin-left: 30px;
    margin-right: 30px;
}


/**********ecriture***********/

h1 {
    font-family: 'ralewayB';
    text-align: left;
    margin-top: 20px;
    font-size: 1.4rem;
    word-spacing: initial;
}

h2 {
    font-family: 'raleway';
    font-size: 0.98rem;
    font-weight: normal;
    margin-top: 0px;
}

.filtre {
    font-family: 'ralewayB';
    font-size: 1.2rem;
    margin-top: 45px;
    margin-right: 15px;
    margin-bottom: -60px;
}

#h3hebergement {
    font-family: 'ralewayB';
    text-align: left;
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 90px;
}
.poptitre{
    font-family: 'ralewayB';
    text-align: left;
    font-size: 1.2rem;
    margin-left: 10px;
}

.populaire {
    font-family: 'ralewayB';
    text-align: left;
    font-size: 1.2rem;
    margin-top:-8px;
    margin-bottom: -20px;
}

#h3activite {
    font-family: 'ralewayB';
    text-align: left;
    font-size: 1.2rem;
    margin-top: 90px;
    margin-left:50px;
}

.h4heberge {
    font-family: 'ralewayB';
    text-align: left;
    font-size: 0.8rem;
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.affiche {
    font-family: 'ralewayB';
    text-align: left;
    font-size: 1rem;
    margin-top: 30px;
    margin-left: 80px;
}
.h4pop{
    font-family:"ralewayB";
    font-size: 0.8rem;
}

.H4activite {
    font-family: 'ralewayB';
    text-align: left;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-left: 20px;
}

.h5heberge {
    font-family: 'Raleway';
    text-align: left;
    font-size: 0.8rem;
    margin-top: 1px;
    margin-left: 15px;
    margin-bottom: 0px;
}
.h5pop{
    font-family: 'Raleway';
    font-size: 0.8rem;
    margin-top:2px;
}

strong {
    font-family: 'ralewayB';
}


/******header********/

.entete {
    margin-top: -90px;
}


/******logo*******/

#logo {
    margin-top: 40px;
    margin-bottom: 41px;
    object-fit:contain;
    width: 80px;
}


/*******barre de naviguation*******/

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.nav li {
    list-style: none;
    font-size: 0.9em;
    font-weight: bold;
    list-style-type: none;
}

.nav a {
    margin: 0px 20px;
    text-decoration: none;
}

.trait {
    color: black;
}

.trait:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 30px;
}

#trait2 {
    color: black;
}

a { 
    font-weight: bold;
}
.inscription{
    color:#0065FC;
}

/**********formulaire de recherche******/

.fa-map-marker-alt {
    box-shadow: 0px 0px 0px 2px #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    border: 0px #F2F2F2 solid;
    padding: 15px 17px 17px 17px;
    background-color: #F2F2F2;
}

.fa-search {
    font-size: 0rem;
}

.barre {
    border: 2px #F2F2F2 solid;
    height: 53px;
    width: 290px;
    max-width: 290px;
    margin-left: -4px;
    margin-right: -4px;
}

.myButton {
    box-shadow: 0px 0px 0px 2px #0065FC;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    text-shadow: 0px 1px 0px #283966;
    text-decoration: none;
    font-family: 'ralewayB';
    font-size: 1rem;
    font-weight: bold;
    padding: 14px 20px 16px;
}

.myButton:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.barre::placeholder {
    font-weight: 600;
    color: #010307;
    font-size: 1rem;
    text-align: left;
    padding-left: 20px;
}


/*****filtres*****/

#nav2 li {
    display: inline;
    font-size: 0.6em;
}

#nav2 {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 62px;
    text-align: left;
    font-size: 1.8rem;
}

#nav2 a {
    display: inline-block;
    color: #010307;
    text-decoration: none;
}

.button {
    text-align: center;
}

.eco1:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
}


/*****bordure global des filtres*****/

.eco {
    box-shadow: 0px 0px 0px 2px #F2F2F2;
    border-radius: 50px 50px;
    margin-left: 35px;
    padding: 10px 10px 10px 0px;
}

.eco1 {
    box-shadow: 0px 0px 0px 2px #F2F2F2;
    border-radius: 50px 50px;
    margin-left: 35px;
    padding: 10px 10px 10px 0px;
}


/*******gestion bordure des icones isolés******/

.fa-money-bill-wave {
    box-shadow: 0px 0px 0px 2px #DEEBFF;
    border-radius: 50px 50px;
    background-color: #DEEBFF;
    padding: 10px 10px;
    color: #0065FC;
}

.fa-child {
    box-shadow: 0px 0px 0px 2px #DEEBFF;
    border-radius: 50px 50px;
    background-color: #DEEBFF;
    padding: 10px 10px;
    color: #0065FC;
}

.fa-heart {
    box-shadow: 0px 0px 0px 2px #DEEBFF;
    border-radius: 50px 50px;
    background-color: #DEEBFF;
    padding: 10px 10px;
    color: #0065FC;
}

.fa-dog {
    box-shadow: 0px 0px 0px 2px #DEEBFF;
    border-radius: 50px 50px;
    background-color: #DEEBFF;
    padding: 10px 10px;
    color: #0065FC;
}


/***********point info +texte********/

.fa-info {
    box-shadow: 0px 0px 0px 2px #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    padding: 5px 10px;
    color: #0065FC;
    margin-top: 30px;
}

.logement {
    margin-top: -22px;
    margin-bottom: 25px;
    margin-left: 40px;
}


/**********conteneur pour section hebergements et populaire******/

#conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 625px;
}

.stars {
    margin-left: 15px;
}

.fa-star {
    color: #0065FC;
    font-size: 0.5em;
}

.grey {
    color: #F2F2F2;
}

.clic {
    text-decoration: none;
    color: black;
}


/*********section  hebergements**********/

section {
    background-color: #F2F2F2;
    margin-top: 1px;
    margin-right: 5px;
    border: 2px #F2F2F2 solid;
    border-radius: 15px 15px 15px 15px;
    width: 63%;
}

.range1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px 40px;
    width: 93%;
}

.art {
    background-color: white;
    box-shadow: 3px 5px 3px #9a9a9a;
    border: 1px white solid;
    border-radius: 10px 10px 10px 10px;
    margin: 20px 20px 15px 5px;
    width: 29%;
    height: 195px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.art:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.img1 {
    Display: flex;
    border-radius: 10px 10px 0px 0px;
    height: 120px;
    width: 96%;
    max-width: 96%;
    text-align: center;
    Margin: auto;
    margin-top: 3px;
    object-fit: cover;
}
.starsa{
    margin-left: 15px;
}


/*********section populaire***********/
.populaire1{
    background-color:#f2f2f2;
    border-radius: 15px 15px 15px 15px; 
    display: flex; 
    flex-direction: column;
    width: 30%;
    padding-left: 30px;
    padding-right: 30px;
}

.populaire_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.fa-chart-line {
    font-weight: 800;
    font-size: 1.5em;
    color: black;
    padding-top: 40px;
}

.article {
    display: flex;
    padding: 5px;
    height: 140px;
    background-color: white;
    margin: 25px 10px 10px 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px #e4e4e4;
}
a{
    text-decoration: none;
    color: black;
}

img { 
    width: 130px; 
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.hotel_details  {
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stars {
    padding-top: 30px;
    margin-left: 0px;
}
.fa-chart-line {
    font-weight: 800;
    font-size: 1.5em;
    color: black;
    padding-top: 20px;
}


/********section activités*************/

#activites {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.act1 {
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 5px 3px #9a9a9a;
    height: 390px;
    max-width: 320px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.act1:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.act1a {
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 5px 3px #9a9a9a;
    height: 390px;
    max-width: 320px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.act1a:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.act2a {
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 5px 3px #9a9a9a;
    height: 230px;
    width: 270px;
    max-width: 270px;
    margin-bottom: 25px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.act2a:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.act2b {
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 5px 3px #9a9a9a;
    height: 140px;
    width: 270px;
    max-width: 270px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.act2b:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.act2c {
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 5px 3px #9a9a9a;
    height: 180px;
    width: 270px;
    max-width: 270px;
    margin-bottom: 25px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.act2c:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.act2d {
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 5px 3px #9a9a9a;
    height: 180px;
    width: 270px;
    max-width: 270px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.act2d:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.img3 {
    border-radius: 20px 20px 0px 0px;
    height: 340px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.img4 {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    max-width: 100%;
    height: 180px;
    object-fit: cover;
}

.img5 {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    max-width: 100%;
    height: 85px;
    object-fit: cover;
}

.img6 {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    max-width: 100%;
    height: 130px;
    object-fit: cover;
}


/**********footer*****************/

#pieds {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px #F2F2F2;
    border-radius: 0px 0px 0px 0px;
    background-color: #F2F2F2;
    height: auto;
    width: 100%;
    margin-top: 50px;
    padding:30px;
}

.assistance {
    margin-right: 380px;
}

.lireso {
    margin:10px;
    font-family: 'raleway';
    list-style-type: none;
}

.gras {
    font-family: 'ralewayB';
}

.gras2 {
    font-family: 'ralewayB';
    margin-bottom: 20px;
}